
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    height: 15%;
    box-sizing: border-box; 
}



nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ddd;
}

button[onclick="logout()"] {
    background-color: #dc3545;
    padding: 12px 20px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button[onclick="logout()"]:hover {
    background-color: #c82333;
}

button[onclick="logout()"]:focus {
    outline: none;
}

.logout {
    transform: translate(-40%, 0);
}
